<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>

        <a href="{% url 'logout' %}">Sair</a>
    <ul>
        {% for cliente in clientes %}
            <li>
                <a href="{% url 'clienteUpdate' cliente.id %}"> {{ cliente.nome }}</a>
                <a href="{% url 'clienteDelete' cliente.id %}">Deletar</a>
            </li>
        {% endfor %}

    </ul>
    <a href="{% url 'clienteCreate' %}">Novo usuário</a>
</body>
</html>